<div class="StopBullying">
	<h2>Help Us Stop bullying!</h2>
</div>
<div class="Stance"><h4>We Here At Propel...</h4></div>
<div class="Message">
	<p class="Belief">"It’s our unflinching belief that everyone who visits Propel should be able to do so without hindrance or abuse. So you will understand our “NO tolerance to bullying policy”. We understand that the majority of users will harbour no intentions to “cyber bully” other users, but those who do will not be welcome in the Propel Community!" - Propel Developers  </p>
</div>
<div class="NeedMoreHelp">
	<h3>Steps To Follow</h3>
</div>
<div class="Message">
<img class="Img" src="../Images/InfoGraphic.jpg" alt="Propel">
</div>
<div class="NeedMoreHelp">
	<h3>Need More Help?</h3>
</div>


<table class ="HelpfulLinks">
	<tr>
		<td>
			<a href ="https://www.bullying.co.uk/">BullyingUK</a>
		</td>
		<td>
			<a href="https://www.stopbullying.gov/cyberbullying/how-to-report/index.html">StopBullying.gov</a>
		</td>
		<td>
			<a href="http://www.nationalbullyinghelpline.co.uk/">National Bullying Helpline</a>
		</td>
		<td>
			<a href="https://kidshelpline.com.au/teens/issues/cyberbullying">Kids Helpline</a>
		</td>
	</tr>
</table>
</div>
