<% if (typeof user == 'object' && user) { %>
<% var user_id = user.id; %>

<div id="contentWrap" class="card card-item">
<span class="card-head">
Global Chat
<a href="profile"><button type="button" title="Close chat window" class="btn btn-light"><i class="material-icons">cancel</i></button></a>
</span>
  <div id="chatWrap">
    <div id="chat"></div>
    <form id="send-message" onsubmit="return false">
      <div id ='typing'></div>
      <input size="35" id="message"></input>
      <input type="submit" value="Send">
    </form>
  </div>
   <h4>Players Online</h4>
  <div id="users"></div>
</div>
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script>
      $(function(){
      //make connection
      var socket = io.connect();
      //buttons and inputs;
      var messageBox = $("#message");
      var messageForm = $("#send-message");
      var chat = $("#chat");
      var nickForm = $('#setNick');
      var nickError = $('#nickError');
      var nickBox = $('#nickname');
      var users = $('#users');
      var typing = $('#typing');
      var box = document.getElementById('chat');

      socket.on('usernames', function(data){
        var user ='';
        console.log(data)
        for(i=0; i < data.length;i++){
          user += '<a href = "/profile/' + data[i].id + '">' + data[i].name + '</a><br/>'
        }
          users.append(user);
      });
      //Emit message
      messageForm.submit(function(e){
        e.preventDefault();
        
        socket.emit('send message', messageBox.val(), function(data){
            chat.append('<span class="error"><b>' + data + '</span><br/>');
        });
        box.scrollTop = box.scrollHeight;
        messageBox.val("");
        typing.html("");
      });
      //Listen on new_message
      socket.on("new message", function(data) {
        
        messageBox.val("");
        chat.append('<span class="msg"><b>' + data.nick +':  </b> '+ data.msg + '</span><br/>');
        box.scrollTop = box.scrollHeight;
        typing.html("");
      });
      socket.on('whisper', function(data){
        messageBox.val("");
        chat.append('<span class="whipser"><b>' + data.nick +':- </b> '+ data.msg + '</span><br/>');
        box.scrollTop = box.scrollHeight;
        typing.html("");
      });
      messageBox.bind("keypress", function(){
        socket.emit('typing');
      });
      messageBox.bind("keyup", function(){
        setTimeout(function(){typing.html("")},1000);
      });
      
      socket.on('typing', function(data){
        typing.html("<p><i>" + data.nick + " is typing a message..." + "</i></p>");
        box.scrollTop = box.scrollHeight;
      });
    });
    </script>
   <%}%>
