<% if (typeof user == 'object' && user) { %>
<% var user_id = user.id; %>

<div id="contentWrap" class="card card-item">
<span class="chat-main-wrap">
<span class="card-head">
<span id='typing' class="material-icons"></span>
Global Chat
<i class="material-icons" id="closechat" onclick="closechat()" title="Close chat window">cancel</i>
<i class="material-icons" id="hidechat" onclick="hidechat()" title="Minimize chat window">expand_more</i>
<i class="material-icons" id="showchat" onclick="showchat()" title="Minimize chat window">expand_less</i>
</span>
  <div id="chatWrap">
    <div id="chat"></div>
    <form id="send-message" onsubmit="return false">
      <input size="35" id="message"></input>
      <input type="submit" value="Send">
    </form>
  </div>
   <h4>Players Online</h4>
  <div id="users"></div>
</div>
</div>
    <script>
    function hidechat(){
      document.getElementById("contentWrap").style.height = "40px";
      document.getElementById("hidechat").style.display= "none";
      document.getElementById("showchat").style.display= "initial";
    }
    function showchat(){
      document.getElementById("contentWrap").style.height = "310px";
      document.getElementById("showchat").style.display= "none";
      document.getElementById("hidechat").style.display= "initial";
    }
    function closechat(){
      document.getElementById("contentWrap").style.display= "none";
      }
    </script>
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script>
      $(function(){
      //make connection
      var socket = io.connect();
      //buttons and inputs;
      var messageBox = $("#message");
      var messageForm = $("#send-message");
      var chat = $("#chat");
      var nickForm = $('#setNick');
      var nickError = $('#nickError');
      var nickBox = $('#nickname');
      var users = $('#users');
      var typing = $('#typing');
      var box = document.getElementById('chat');

      socket.on('usernames', function(data){
        var user ='';
        console.log(data)
        for(i=0; i < data.length;i++){
          user += '<a href = "/profile/' + data[i].id + '">' + data[i].name + '</a><br/>'
        }
          users.append(user);
      });
      //Emit message
      messageForm.submit(function(e){
        e.preventDefault();
        
        socket.emit('send message', messageBox.val(), function(data){
            chat.append('<span class="error"><b>' + data + '</span><br/>');
        });
        box.scrollTop = box.scrollHeight;
        messageBox.val("");
        typing.html("");
      });
      //Listen on new_message
      socket.on("new message", function(data) {
        var list = [];
        messageBox.val("");
        list.push('<span class="msg"><b>' + data.nick +':  </b> '+ data.msg + '</span><br/>');
        chat.append(list);
        box.scrollTop = box.scrollHeight;
        typing.html("");
      });
      socket.on('whisper', function(data){
        messageBox.val("");
        chat.append('<span class="whipser"><b>' + data.nick +':- </b> '+ data.msg + '</span><br/>');
        box.scrollTop = box.scrollHeight;
        typing.html("");
      });
      messageBox.bind("keypress", function(){
        socket.emit('typing');
      });
      messageBox.bind("keyup", function(){
        setTimeout(function(){typing.html("")},1000);
      });
      
      socket.on('typing', function(data){
        typing.html("sms");
        box.scrollTop = box.scrollHeight;
      });
    });
    </script>
   <%}%>
