<footer class="footer">
      <div class="container">
        <span class="text-muted">Privacy Policy</span>
        <span class="text-muted">Terms of Service</span>
        <span class="text-muted">Bulling Policy</span>
        <span class="text-muted">Upload a Game</span>
        <span class="text-muted">Contact Us</span>
      </div>
</footer>