<footer class="footer bg-dark">
      <div class="container">
        <span>Privacy Policy</span></br>
        <span>Terms of Service</span></br>
        <span>Bulling Policy</span></br>
        <a href="upload"><span>Upload a Game</span></br></a>
        <span>Contact Us</span>
      </div>
</footer>
