<footer class="footer bg-dark">
      <div class="container">
        <span>Privacy Policy</span></br>
        <span>Terms of Service</span></br>
        <span>Bulling Policy</span></br>
        <a onClick=checkLogin()><span>Upload a Game</span></br></a>
        <span>Contact Us</span>
      </div>
</footer>
<script type="text/javascript">
	function checkLogin () {
		if(<%= user.id != null %>){
			window.location.href = "upload";
		}else{
			if (confirm("You must log in!")) {
		        window.location.href = "/auth/facebook";
		    } 
		}
	}
</script>
