<div class="container">
<div class="jumbotron gameview-title"><h1><%= game.name %></h1></div>
<iframe class="iframeGame" style="width:100%; min-height:400px; height:80vh;" src="<%= game.URL %>"></iframe>
</div>
<script type="text/javascript">
  socket.emit('GameName');
</script>
