<nav class="navbar navbar-dark bg-dark">
	<div class="container">
  		<a class="navbar-brand" href="/">
    			<img src="Images/propeldark.png" height="40px" class="d-inline-block align-top" alt="">
  		</a>

  		<% if (typeof user == 'object' && user) { %>

  		<div class="nav-right">
			<a href="profile"><button type="button" class="btn btn-dark"><i class="material-icons">account_box</i></button></a>
			<button type="button" class="btn btn-dark"><i class="material-icons">chat</i></button>
			<button type="button" class="btn btn-dark"><i class="material-icons">announcement</i></button>
			<a href="/logout><button type="button" class="btn btn-dark"><i class="material-icons">input</i></button></a>
  		</div>
  		<% } else { %> 
  			<a href="/auth/facebook"><button type="button" class="btn btn-dark">Login</button></a>
  		<%}%>

	</div>
</nav>

<div class="under-nav"></div>

<!-- Navigation bar 2 -->
<div class="container nav-cat">

	<ul class="nav nav-pills nav-fill">
	  <li class="nav-item">
	    <a class="nav-link" href="#">Action</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link" href="#">Arcade</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link" href="#">Racing</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link" href="#">Simulator</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link" href="#">Turn Based</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link" href="#">Puzzle</a>
	  </li>
	</ul>

</div>
