<div class="container main-area">

	<!-- ROW 1 -->
	<div class="row">
		<div class="col-lg-12">
			<div class="card">
				<img class=" hero-item" src="http://brick-inquirer.com/wp-content/uploads/2016/06/LFayqug-1.jpg" draggable="false">
			</div>
		</div>
	</div>

	<!-- ROW 2 -->
	<div class="row">
		<div class="col-lg-6">
			<div class="card card-item">
				<span class="card-head"><%= game_list[0].name %></span>
				<a href="/gameView/<%= game_list[0].id %>">
					<img class="hero-item" src = "<%= game_list[0].thumb %>" style="object-fit:cover">
				</a>
		</div>
		</div>
		<div class="col-lg-3">
			<div class="card card-item">
				<span class="card-head">Action</span>
			</div>
		</div>
		<div class="col-lg-3">
			<div class="card card-item">
				<span class="card-head">Arcade</span>
			</div>
		</div>
	</div>

		<!-- ROW 3 -->
	<div class="row">
		<div class="col-lg-3">
			<div class="card card-item">
				<span class="card-head">Racing</span>
			</div>
		</div>
		<div class="col-lg-3" >
			<div class="card card-item" >
				<span class="card-head">Simulator</span>
			</div>
		</div>
		<div class="col-lg-3">
			<div class="card card-item">
				<span class="card-head">Turn-Based</span>
			</div>
		</div>
		<div class="col-lg-3">
			<div class="card card-item">
				<span class="card-head">Puzzle</span>
			</div>
		</div>
	</div>
</div>
