<nav class="navbar navbar-light bg-faded">
	<div class="row">
	    <div class="col nav-menu">
	    	s
	    </div>
	    <div class="col nav-title">
	    	s
	    </div>
	    <div class="col nav-login">
	    	<a href="/auth/facebook"><button type="button" class="btn btn-primary">Log in with Facebook</button></a>
	    </div>
  </div>
</nav> 