<div class="container profile-area">

	<!-- Top row -->
	<div class="row">
		<div class="col-lg-3">
			<div class="card profile-image">
  				<img class="card-img-top" src="Images/prof.png">
				<div class="profile-menu">
					<ul class="nav nav-pills nav-fill">
  						<li class="nav-item">
    						<a class="nav-link" href="#">Message</a>
 						</li>
  						<li class="nav-item">
    						<a class="nav-link" href="#">Message</a>
  						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">Report</a>
						</li>
					</ul>
				</div>
			</div>
		</div>

		<div class="col-lg-6">
			<div class="card profile-username">
  				<div class="card-body">
    				<p class="card-text">
				<% console.log(userview) %>
				</p>
  				</div>
			</div>
			<div class="card profile-bio">
  				<div class="card-body">
    				<p class="card-text">Some quick exampleome quick exampleome quick exampleome quick exampleome quick exampleome quick exampleome quick exampleome quick exampleome quick exampleome quick www <a href="ss">Read More</a></p>
  				</div>
			</div>
		</div>
		<div class="col-lg-3">
			<div class="card">
				<span class="card-head">Stats</span>
			</div>
		</div>
	</div>

	<!-- Bottom Row -->
	<div class="row">
		<div class="col-lg-3"">
			<div class="card">
				<span class="card-head">Friends</span>
			</div>
		</div>
		<div class="col-lg-3">
			<div class="card">
				<span class=" card-head">Highscores</span>
			</div>
		</div>
		<div class="col-lg-3">
			<div class="card">
				<span class="card-head">Trophies</span>
			</div>
		</div>
		<div class="col-lg-3">
			<div class="card">
				<span class="card-head">Latest Game</span>
			</div>
		</div>
	</div>
</div>
