<!DOCTYPE html>
<html>
<head>
	<%include partials/head.ejs %> 
</head>
<body>
	<link rel="shortcut icon" type="image/png" href="../public/Images/favicon.png"/>
	<%include partials/header.ejs %>
	<%include partials/home.ejs %>
	<%include partials/bodyscripts.ejs %>
	<%include partials/socket.ejs %>
</body>
</html>
