<!DOCTYPE html>
<html>
<head>
	<%include partials/header.ejs %> 
</head>
<body>
	<!-- nav bar --> 
	<%include partials/nav.ejs %> 

	<!-- main body -->
	
<!-- 	<div>
		<% for(var i = 0; i< 2; i++ ){ %>
		<p> <%= game_list[i].name %></p>
		<% } %>	
	</div> -->
	
</body>
</html>