<!DOCTYPE html>
<html>
<head>
	<%include partials/head.ejs %>
	<link rel="shortcut icon" type="image/png" href="../Images/favicon.png"/>
</head>
<body>
	
	<%include partials/header.ejs %>
	<%include partials/home.ejs %>
	<%include partials/bodyscripts.ejs %>
	<%include partials/socket.ejs %>
	<%include partials/footer.ejs %>
	<%include partials/chat.ejs %>
</body>
</html>
