<!DOCTYPE html>
<html>
<head>
	<%include partials/header.ejs %> 
</head>
<body>
	<!-- nav bar --> 
	<%include partials/nav.ejs %> 

	<!-- main body -->
	<% for (var game in game_list) { %>
      <h3><%= game_list[game].name %></h3>
    <% } %>

	
</body>
</html>