<!DOCTYPE html>
<html>
<head>
	<%include parts/head.ejs %> 
</head>
<body>
	<%include parts/header.ejs %> 
	<%include parts/profile.ejs %>
	<%include parts/bodyscripts.ejs %>
</body>
</html>