<!DOCTYPE html>
<html>
<head>
	<%include partials/head.ejs %> 
</head>
<body>
	<%include partials/header.ejs %> 
	<%include partials/uploadpage.ejs %>
	<%include partials/bodyscripts.ejs %>
	<%include partials/socket.ejs %>
	<%include partials/footer.ejs %>
</body>
</html>
